<div class="bg row">
  <div class="buy">
    <div class="strip">
      <img src="../../../../assets/img/strip.png">
    </div>
    <div class="title">
      <img src="../../../../assets/img/icons/buy-level-complete.png">
      <span>Comprar Nível para sua conta</span>
    </div>

    <div class="content">
      <p>Com o plano de nivelação ganhas acesso a projetos de qualificação e pagamento elevados</p>
      <p>Ao aceder a um nível superior seus ganhos podem duplicar em semanas</p>
      <p>Cada pacote de nível aumenta 3 pontos. Podendo comprar apenas 3 pacotes por ano. Aproveite</p>
      <div class="imgs">
        <img id="level1" src="../../../../assets/img/icons/buy-level-1.png">
        <img id="level2" src="../../../../assets/img/icons/buy-level-2.png">
        <img id="level3" src="../../../../assets/img/icons/buy-level-3.png">
      </div>
      <p>55¢ por pacote, aproveite pos nossos pacotes de nivelação são apenas anuais</p>
    </div>

    <div class="actions">
      <button class="btn" (click)="gotToCheckout()">Comprar Nível</button>
    </div>
  </div>
</div>