<div class="bg">
    <div class="loader" [ngStyle]="!button && {'height': '90vh'}">
        <div class="spinner-grow" role="status" style="color: #D6B8FF;">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow" role="status" style="color: #363636;">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow" role="status" style="color: #D6B8FF;">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
