ngb-rating{
    float: left;
    outline: none;
    margin-top: 4%;
    font-size: 2rem;
    margin-left: 5px;
    color: #FFC106;
    span{
        margin-right: 3px;
    }
}
.list-emojis {
    width: 60%;
    position: absolute;
    top: 11rem;
    left: 1rem;
    padding: 2%;
    background: #fff;
    border-radius: 10px;
    z-index: 2;
    div {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 2%;
      i {
        &:hover {
          cursor: pointer;
          color: red;
        }
      }
    }
    .emoji {
      margin-left: 2%;
      &:hover {
        cursor: pointer !important;
      }
    }
  }
p {
    word-wrap: unset !important;
}
h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 12% 3% 1% 3%;
}
.chat-container {
    background: #EFEFEF;
    width: 100%;
    height: 100vh;
    padding: 0 3%;

    .sideBar-container {
        background: #fff;
        border-radius: 10px;

        .sideBar-chat {
            width: 100%;
            margin-bottom: 5%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 4% 8%;
            .div-img {
                width: 10%;

                .userPhoto {
                    border: 3px solid #D6B8FF;
                    border-radius: 50%;
                    height: 60px;
                    width: 60px;
                    float: left;
                }
            }
    
            .div-info {
                width: 90%;
                margin-left: 10%;
                .name {
                    font-weight: bold;
                    color: black;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                .msg-prev {
                    max-height: 20px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            } 
            
        }
        .sideBar-chat:hover {
            cursor: pointer;
            background:#D6B8FF;
        }
        
    }

    .main-chat {
        background: transparent;
        border-radius: 10px;
        .fa-paperclip {
            cursor: pointer;
        }
        .files-attached{
            float: left;
            width: 50%;
            ul{
                float: left;
                width: 100%;
                li{
                    margin-bottom: 5px;
                    float: left;
                    width: 100%;
                    span{
                        width: 80%;
                        float: left;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        text-overflow: ellipsis;
                        -webkit-box-orient: vertical;
                    }
                    i{
                        float: right;
                        margin-top: 3px;
                        cursor: pointer;
                        font-size: 15px;
                    }
                }
            }
        }
        .image-chat {
            width: 50px;
            height: 50px;
        }
        .main-chat-img{
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border-bottom: 4px solid white;
            padding: 2% 4% 1% 4%;
            margin: 0;
            .userPhotoBig {
                border: 4px solid #D6B8FF;
                border-radius: 50%;
                height: 55px;
                width: 55px;
                float: left;
            }

            .name {
                font-weight: bold;
            }
        }
        .messages {
            .reverse {
                display: flex;
                flex-direction: column-reverse;
            }
            width: 100%;
            overflow-y: scroll;
            max-height: 300px;
            padding: 6%;
            margin-top: 2%;
            .viwewd-div {
               display: flex;
               justify-content: flex-end;
               align-items: baseline;
            }
            .side-secondary {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                margin-bottom: 2%;
                .bubble-secondary {
                    width: auto;
                    max-width: 50%;
                    height: auto;
                    padding: 2%;
                    border-radius: 10px;
                    background: #ECECEC;
                    color: black;
                    font-weight: 500;
                    position: relative;
                    word-break: unset !important;
                    
                }
            }
            .side-main {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                margin-bottom: 2%;
                .bubble-main {
                    width: auto;
                    max-width: 50%;
                    height: auto;
                    padding: 2%;
                    border-radius: 10px;
                    background: #D6B8FF;
                    color: black;
                    position: relative;
                    word-break: unset !important;
                    font-weight: 500;
                }
            }
            
            
            

            
        }
        .send-msg-form {
            background: #fff;
            display: flex;
            align-items: baseline;
            justify-content: space-around;
            margin-top: 3%;
            padding: 3%;
            border-radius: 10px;
            .fa-smile-beam {
                &:hover {
                    cursor: pointer;
                }
            }
            input {
                width: 80%;
            }
            button {
                background: transparent;
                color: white;
                img {
                    width: 60%;
                }
            }
        }
        
    } 
    
}