<footer class="content-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 footer-logo">
        <a href=""> <img class="logo-footer" src="assets/img/footer/logo-tuga.png" /></a>
      </div>

      <div class="col-md-3">
        <div class="list-2">
          <h3 class="item-title">Para Clientes</h3>
          <ul>
            <li><a routerLink="/search/freela">Todos os Freelancers</a></li>
            <li><a routerLink="/contact">Contato</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-3">
        <div class="list-3">
          <h3 class="item-title">Para Freelancers</h3>
          <ul>
            <li><a routerLink="/search/job">Todos os Projetos</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-3">
        <h3 class="item-title">Siga-nos</h3>
        <div class="footer-icons">

          <a href="#">
            <img src="assets/img/footer/face.jpeg" alt="Facebook" />
          </a>

          <a href="#">
            <img src="assets/img/footer/insta.jpeg" alt="Instagram" />
          </a>

          <a href="#">
            <img src="assets/img/footer/twitter.jpeg" alt="Twitter" />
          </a>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: -7%;">
      <div class="col-md-3">
        <div class="list-1">
          <ul>
            <li><a routerLink="/how-works">Como Funciona?</a></li>
            <li><a routerLink="/faq">Central de Ajuda</a></li>
            <li><a routerLink="/use-terms">Termos de Serviços</a></li>
            <li><a routerLink="/privacy-policy">Política de privacidade</a></li>
          </ul>
        </div>
      </div>

      
    </div>
  </div>
</footer>