.subs-card {
  width: 40%;
  background: #eadf55;
  padding: 1% 3% 3% 3%;
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    b {
      color: #C10505;
    }
  }
  .content {
    margin-top: 5%;
  }
  .actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    button {
      background: #C10505;;
      color: #FFF;
      width: 80%;
      &:hover{
          color: #FFF;
      }
    }
    .btn-buy {
      background: #363636;
    }
  }
}