app-toast{
    position: absolute;
    right: 10px;
    top: 110px;
}
h2{
    float: left;
    width: 100%;
    font-size: 25px;
    font-weight: 700;
    color: #2A2A2A;
    margin-top: 100px;
    text-align: center;
}
p{
    text-align: center;
    color: #717171;
    font-weight: 400;
    font-size: 16px;
    float: left;
    width: 100%;
}
form{
    float: left;
    width: 100%;
    input{
        float: left;
        width: 100%;
        padding: 10px;
        font-size: 14px;
        font-weight: 300;
        border-radius: 5px;
        margin-bottom: 15px;
        background: #E3E3E3;
        border: 1px solid #D0D0D0;
    }
    button {
        float: left;
        width: 100%;
        border: none;
        color: #FFF;
        padding: 10px;
        font-size: 16px;
        font-weight: 500;
        border-radius: 5px;
        background: #363636;
    }
}