<app-header></app-header>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>
                Crie sua nova<br>
                senha!
            </h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form [formGroup]="formPassword">
                <div class="row">
                    <div class="col-md-12">
                        <input type="password" name="password" placeholder="Nova senha" formControlName="password">
                    </div>
                    <div class="col-md-12">
                        <input type="password" name="passwordConfirmation" placeholder="Confirmar senha" formControlName="passwordConfirmation">
                    </div>
                    <div class="col-md-12">
                        <button (click)="save()"[disabled]="formPassword.invalid">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>