<app-header menu="no-logged" showSearch="true"></app-header>

<section id="banner" style="background-image: url('assets/img/how-works/how-works-bg.png');">
    <div class="data">
        <div class="text">
            <span>NÃO PERCA TEMPO!!!</span>
            <h2>
                Contrate freelancers<br>
                especializados para qualquer<br>
                trabalho, on-line.
            </h2>
            <button class="tf-btn btn-purple" routerLink="/signup/Cliente">QUERO CONTRATAR</button>
            <button class="tf-btn btn-dark" routerLink="/signup/Freelancer"> TRABALHE COMO FREELA</button>
        </div>
    </div>
</section>

<section id="howWorks">
    <div class="container">
        <div class="row">
            <div class="col col-md-12">
                <h2 class="text-center">Saiba como funciona nosso<br>processo.</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="item">
                    <img src="assets/img/how-works/publish-project.png" class="img-fluid" alt="screen" height="469">
                    <div class="card-body">
                        <h3 class="card-title">Publique o projeto</h3>
                        <p class="card-text">Conte-nos em poucas palavras o que você precisa. É grátis e sem
                            compromisso!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="item">
                    <img src="assets/img/how-works/select-freela.png" class="img-fluid right" alt="screen" height="469">
                    <div class="card-body left">
                        <h3 class="card-title">Selecione o profissional</h3>
                        <p class="card-text">Receba propostas de excelentes freelancers. Escolha o melhor para o seu projeto.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="item">
                    <img src="assets/img/how-works/payment.png" class="img-fluid" alt="screen" height="469">
                    <div class="card-body">
                        <h3 class="card-title">Faça o pagamento</h3>
                        <p class="card-text">Você faz o pagamento com total garantia sobre o valor depositado e já começa a trabalhar :)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="item">
                    <img src="assets/img/how-works/finish.png" class="img-fluid right last" alt="screen">
                    <div class="card-body left">
                        <h3 class="card-title">Aceite e Finalize</h3>
                        <p class="card-text">Receba o projeto concluído e libere o valor depositado ao freelancer.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center buttons">
            <div class="col col-md-3">
                <a class="tf-btn btn-purple" routerLink="/signup/Cliente">PUBLIQUE UM PROJETO</a>
            </div>
            <div class="col col-md-3">
                <a class="tf-btn btn-dark" routerLink="/signup/Freelancer">TRABALHE COMO FREELA</a>
            </div>
        </div>
    </div>
</section>

<section id="startJourney">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5 content">
                <h2>Torne-se um profissional digital.</h2>
                <h2>Torne-se um freelancer.</h2>
                <p>Você pode melhorar a sua presença na web, vender online,
                    vender nas redes sociais, criar conteúdos que mantenham seus clientes interessados ​​na sua marca e
                    muito
                    mais!</p>
                <button class="tf-btn btn-purple" routerLink="/signup/Freelancer">COMEÇE SUA JORNADA</button>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <img src="assets/img/how-works/freelas2.png" class="img-fluid" alt="screen">
            </div>
        </div>
    </div>
</section>

<section id="testemunial">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-md-6">
                <h2 class="text-center font-title-home">
                    Milhares de pessoas acreditam em<br>nossos <strong class="txt-color-purple">FREELANCES</strong>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="assets/img/cards/joey@2x.jpg" class="img-fluid" alt="Joey">
                    <p>Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                        unknown printer took a galley of
                        type and scrambled it to make a type specimen book. It has survived not only five
                        centuries, but also the leap into electronic typesetting,
                        remaining essentially unchanged.
                    </p>
                    <h5 class="txt-color-purple">Eduardo Lopes - Realtech Produções</h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="assets/img/cards/joey@2x.jpg" class="img-fluid" alt="Joey">
                    <p>Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                        unknown printer took a galley of
                        type and scrambled it to make a type specimen book. It has survived not only five
                        centuries, but also the leap into electronic typesetting,
                        remaining essentially unchanged.
                    </p>
                    <h5 class="txt-color-purple">Eduardo Lopes - Realtech Produções</h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="assets/img/cards/joey@2x.jpg" class="img-fluid" alt="Joey">
                    <p>Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                        unknown printer took a galley of
                        type and scrambled it to make a type specimen book. It has survived not only five
                        centuries, but also the leap into electronic typesetting,
                        remaining essentially unchanged.
                    </p>
                    <h5 class="txt-color-purple">Eduardo Lopes - Realtech Produções</h5>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    Não deixe para amanhã, o que pode fazer <strong>HOJE!</strong><br>
                    <span class="txt-color-purple">Coloque suas ideias em prática</span>
                </h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-2">
                <div class="card">
                    <a [routerLink]="['/search/freela/12']">
                        <img src="assets/img/how-works/service-site.png" class="img-fluid" alt="">
                        <h3>Renove seu site</h3>
                    </a>
                </div>
            </div>
            <div class="col-md-1 no-padding">
                <img src="assets/img/how-works/service-divider1.png" class="img-fluid divider1" alt="">
            </div>
            <div class="col-md-2">
                <div class="card">
                    <a [routerLink]="['/search/freela/6']">
                        <img src="assets/img/how-works/service-app.png" class="img-fluid" alt="">
                        <h3>Lance seu App</h3>
                    </a>
                </div>
            </div>
            <div class="col-md-1 no-padding">
                <img src="assets/img/how-works/service-divider2.png" class="img-fluid divider2" alt="">
            </div>
            <div [routerLink]="['/search/freela/4']">
                <div class="card">
                    <a href="">
                        <img src="assets/img/how-works/service-desing.png" class="img-fluid" alt="">
                        <h3>Crie sua Id. Visual</h3>
                    </a>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-2">
                <div class="card">
                    <a [routerLink]="['/search/freela/13']">
                        <img src="assets/img/how-works/service-translate.png" class="img-fluid " alt="">
                        <h3>Tradutores  &
                            Escritores</h3>
                    </a>
                </div>
            </div>
            <div class="col-md-1 no-padding">
                <img src="assets/img/how-works/service-divider1.png" class="img-fluid divider1" alt="">
            </div>
            <div class="col-md-2">
                <div class="card">
                    <a [routerLink]="['/search/freela/5']">
                        <img src="assets/img/how-works/service-marketing.png" class="img-fluid" alt="">
                        <h3>Marketing &
                            Vendas</h3>
                    </a>
                </div>
            </div>
            <div class="col-md-1 no-padding">
                <img src="assets/img/how-works/service-divider2.png" class="img-fluid divider2" alt="">
            </div>
            <div class="col-md-2">
                <div class="card">
                    <a [routerLink]="['/search/freela']">
                        <img src="assets/img/how-works/service-more.png" class="img-fluid" alt="">
                        <h3>E muito mais...</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>