<h2>Histórico de Reembolsos</h2>

<form>
  <div class="row">
    <select class="form-control col-sm-6 col-md-2">
      <option selected disabled>Ano</option>
    </select>
  
    <select class="form-control col-sm-6 col-md-2">
      <option selected disabled>Mês</option>
    </select>
  </div>
  
</form>

<table class="table">
  <thead>
  <tr>
    <th scope="col">Data</th>
    <th scope="col">Descrição</th>
    <th scope="col">Valor</th>
    <th scope="col">Fatura</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>01/03/2021</td>
    <td>[Projeto] <a>Aplicatiovo em react e node</a></td>
    <td>R$ 62,50</td>
    <td><a>P137334</a> (<a>Baixar</a>)</td>
  </tr>
  </tbody>
</table>