<h2>Histórico de Pagamentos</h2>

<div class="cards">
  <div class="card-verify shadow">
    <div class="img">
      <img src="../../../../assets/img/addcredit.png">
    </div>
  
    <p class="title">Adicione um método de pagamento verificado</p>
    <p class="sub-title">
      Apareça de uma forma mais profissional com um emblema de método de pagamento verificado
    </p>
  
    <div class="sub-card">
      <div class="logos">
        <img src="../../../../assets/img/credit-cards/mastercard.svg">
        <img src="../../../../assets/img/credit-cards/visa.svg">
      </div>
      <button class="btn btn-block">Adicionar cartão de débito ou crédito</button>
    </div>
  </div>
  
  <div class="card-verify shadow">
    <div class="img">
      <img src="../../../../assets/img/success.png">
    </div>
  
    <p class="title">Concentre-se no sucesso!</p>
    <p class="sub-title">
      Poste projetos, pague facilmente e tenha seus trabalhos feitos mais rápido
    </p>
  
    <div class="sub-card">
      <div class="logos">
        <img class="paypal" src="../../../../assets/img/credit-cards/paypal.png">
      </div>
      <button class="btn btn-block">Adicionar conta PayPal</button>
    </div>
  </div>
</div>
