<div class="job"
*ngIf="(job.status === 'em_andamento'|| job.status === 'em_disputa')"
>
    <div class="row">
        <div class="col-md-1">
            <svg [ngStyle]="{'color': statusColor, 'fill': statusColor}" xmlns="http://www.w3.org/2000/svg" width="34.19" height="46.455" viewBox="0 0 49.19 61.455" class="project-svg">
                <g id="project" transform="translate(-51.091)">
                  <g id="Grupo_147" data-name="Grupo 147" transform="translate(51.091 14.251)">
                    <g id="Grupo_146" data-name="Grupo 146">
                      <path id="Caminho_1560" data-name="Caminho 1560" d="M87.052,164.13H52.9v-44.5a.9.9,0,0,0-1.8,0v44.8a1.505,1.505,0,0,0,1.5,1.5H87.052a.9.9,0,0,0,0-1.8Z" transform="translate(-51.091 -118.73)" />
                    </g>
                  </g>
                  <g id="Grupo_149" data-name="Grupo 149" transform="translate(51.091)">
                    <g id="Grupo_148" data-name="Grupo 148">
                      <path id="Caminho_1561" data-name="Caminho 1561" d="M100.026,8.156,92.359.273A.9.9,0,0,0,91.712,0H52.594a1.505,1.505,0,0,0-1.5,1.5V8.539a.9.9,0,0,0,1.8,0V1.8H91.331l7.146,7.347v50.5H93.366a.9.9,0,0,0,0,1.8h5.413a1.5,1.5,0,0,0,1.5-1.5V8.785A.9.9,0,0,0,100.026,8.156Z" transform="translate(-51.091)" />
                    </g>
                  </g>
                  <g id="Grupo_151" data-name="Grupo 151" transform="translate(90.81 0)">
                    <g id="Grupo_150" data-name="Grupo 150">
                      <path id="Caminho_1562" data-name="Caminho 1562" d="M391.22,8.157,383.553.274A.9.9,0,0,0,382,.9V8.785a.9.9,0,0,0,.9.9h7.667a.9.9,0,0,0,.646-1.531Zm-7.411-.273V3.123l4.629,4.76h-4.629Z" transform="translate(-382.004 -0.001)" />
                    </g>
                  </g>
                  <g id="Grupo_153" data-name="Grupo 153" transform="translate(56.624 4.789)">
                    <g id="Grupo_152" data-name="Grupo 152">
                      <path id="Caminho_1563" data-name="Caminho 1563" d="M120.426,39.9H98.692a1.505,1.505,0,0,0-1.5,1.5v4.985a1.505,1.505,0,0,0,1.5,1.5h21.733a1.505,1.505,0,0,0,1.5-1.5V41.4A1.5,1.5,0,0,0,120.426,39.9Zm-.3,6.188H98.993V41.7h21.132Z" transform="translate(-97.189 -39.899)" />
                    </g>
                  </g>
                  <g id="Grupo_155" data-name="Grupo 155" transform="translate(57.691 17.318)">
                    <g id="Grupo_154" data-name="Grupo 154">
                      <path id="Caminho_1564" data-name="Caminho 1564" d="M114.021,144.463a.9.9,0,0,0-1.264.172l-3.985,5.244-1.2-1.047a.9.9,0,1,0-1.188,1.358l1.924,1.684a.9.9,0,0,0,.594.223c.03,0,.061,0,.091,0a.9.9,0,0,0,.627-.352l4.57-6.013A.9.9,0,0,0,114.021,144.463Z" transform="translate(-106.079 -144.28)" />
                    </g>
                  </g>
                  <g id="Grupo_157" data-name="Grupo 157" transform="translate(69.159 17.318)">
                    <g id="Grupo_156" data-name="Grupo 156">
                      <path id="Caminho_1565" data-name="Caminho 1565" d="M225.241,144.277H202.523a.9.9,0,0,0,0,1.8h22.718a.9.9,0,0,0,0-1.8Z" transform="translate(-201.621 -144.277)" />
                    </g>
                  </g>
                  <g id="Grupo_159" data-name="Grupo 159" transform="translate(69.159 20.324)">
                    <g id="Grupo_158" data-name="Grupo 158">
                      <path id="Caminho_1566" data-name="Caminho 1566" d="M217.273,169.326h-14.75a.9.9,0,0,0,0,1.8h14.75a.9.9,0,0,0,0-1.8Z" transform="translate(-201.621 -169.326)" />
                    </g>
                  </g>
                  <g id="Grupo_161" data-name="Grupo 161" transform="translate(69.159 23.331)">
                    <g id="Grupo_160" data-name="Grupo 160">
                      <path id="Caminho_1567" data-name="Caminho 1567" d="M220.64,194.376H202.523a.9.9,0,0,0,0,1.8H220.64a.9.9,0,0,0,0-1.8Z" transform="translate(-201.621 -194.376)" />
                    </g>
                  </g>
                  <g id="Grupo_163" data-name="Grupo 163" transform="translate(57.691 29.585)">
                    <g id="Grupo_162" data-name="Grupo 162">
                      <path id="Caminho_1568" data-name="Caminho 1568" d="M114.021,246.666a.9.9,0,0,0-1.264.172l-3.985,5.244-1.2-1.047a.9.9,0,0,0-1.188,1.358l1.924,1.684a.9.9,0,0,0,.594.223c.03,0,.061,0,.091,0a.9.9,0,0,0,.627-.352l4.57-6.013A.9.9,0,0,0,114.021,246.666Z" transform="translate(-106.079 -246.482)" />
                    </g>
                  </g>
                  <g id="Grupo_165" data-name="Grupo 165" transform="translate(69.159 29.585)">
                    <g id="Grupo_164" data-name="Grupo 164">
                      <path id="Caminho_1569" data-name="Caminho 1569" d="M225.241,246.481H202.523a.9.9,0,0,0,0,1.8h22.718a.9.9,0,0,0,0-1.8Z" transform="translate(-201.621 -246.481)" />
                    </g>
                  </g>
                  <g id="Grupo_167" data-name="Grupo 167" transform="translate(69.159 32.592)">
                    <g id="Grupo_166" data-name="Grupo 166">
                      <path id="Caminho_1570" data-name="Caminho 1570" d="M217.273,271.53h-14.75a.9.9,0,1,0,0,1.8h14.75a.9.9,0,1,0,0-1.8Z" transform="translate(-201.621 -271.53)" />
                    </g>
                  </g>
                  <g id="Grupo_169" data-name="Grupo 169" transform="translate(69.159 35.598)">
                    <g id="Grupo_168" data-name="Grupo 168">
                      <path id="Caminho_1571" data-name="Caminho 1571" d="M220.64,296.579H202.523a.9.9,0,1,0,0,1.8H220.64a.9.9,0,1,0,0-1.8Z" transform="translate(-201.621 -296.579)" />
                    </g>
                  </g>
                  <g id="Grupo_171" data-name="Grupo 171" transform="translate(69.159 41.853)">
                    <g id="Grupo_170" data-name="Grupo 170">
                      <path id="Caminho_1572" data-name="Caminho 1572" d="M225.241,348.685H202.523a.9.9,0,0,0,0,1.8h22.718a.9.9,0,0,0,0-1.8Z" transform="translate(-201.621 -348.685)" />
                    </g>
                  </g>
                  <g id="Grupo_173" data-name="Grupo 173" transform="translate(69.159 44.859)">
                    <g id="Grupo_172" data-name="Grupo 172">
                      <path id="Caminho_1573" data-name="Caminho 1573" d="M217.273,373.734h-14.75a.9.9,0,0,0,0,1.8h14.75a.9.9,0,0,0,0-1.8Z" transform="translate(-201.621 -373.734)" />
                    </g>
                  </g>
                  <g id="Grupo_175" data-name="Grupo 175" transform="translate(69.159 47.866)">
                    <g id="Grupo_174" data-name="Grupo 174">
                      <path id="Caminho_1574" data-name="Caminho 1574" d="M220.64,398.783H202.523a.9.9,0,1,0,0,1.8H220.64a.9.9,0,1,0,0-1.8Z" transform="translate(-201.621 -398.783)" />
                    </g>
                  </g>
                  <g id="Grupo_177" data-name="Grupo 177" transform="translate(57.691 41.853)">
                    <g id="Grupo_176" data-name="Grupo 176">
                      <path id="Caminho_1575" data-name="Caminho 1575" d="M112.391,348.685H107.58a1.505,1.505,0,0,0-1.5,1.5V355a1.505,1.505,0,0,0,1.5,1.5h4.811a1.5,1.5,0,0,0,1.5-1.5v-4.811A1.505,1.505,0,0,0,112.391,348.685Zm-.3,6.013h-4.209v-4.209h4.209Z" transform="translate(-106.077 -348.685)" />
                    </g>
                  </g>
                </g>
            </svg>
        </div>
        <div class="col-md-10">
            <h3 (click)="goToDetais(job.id)">{{ job.title }}</h3>
            <p>Propostas ({{proposalsNumber}})</p><p>Cliente: <span class="txt-color-purple">{{job.owner.name}}</span></p><p>Início: {{job.created_at | date:'dd/MM/yyyy'}}</p><br>
            <p class="full">Status: <span [ngStyle]="{'color': statusColor}" >{{statusToShow | titlecase}}</span></p>
        </div>
        <div [id]="'div' + index" class="col-md-1">
          <svg [id]="'svg' + index" xmlns="http://www.w3.org/2000/svg" width="6" height="30" viewBox="0 0 9 35" style="float: right; cursor: pointer" (click)="openActionsJob()">
            <circle [id]="'circle1' + index" id="Elipse_145" data-name="Elipse 145" cx="4.5" cy="4.5" r="4.5" fill="#363636"/>
            <circle [id]="'circle2' + index" id="Elipse_146" data-name="Elipse 146" cx="4.5" cy="4.5" r="4.5" transform="translate(0 13)" fill="#363636"/>
            <circle [id]="'circle3' + index" id="Elipse_147" data-name="Elipse 147" cx="4.5" cy="4.5" r="4.5" transform="translate(0 26)" fill="#363636"/>
          </svg>
        </div>
        <ul class="actions" [hidden]="!showActionsJob" [id]="'ul' + index"> 
          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="25" viewBox="0 0 19 25" class="arrow">
            <path id="Polígono_2" data-name="Polígono 2" d="M12.5,0,25,19H0Z" transform="translate(19) rotate(90)" fill="#363636"/>
          </svg>    
          <li style="color: #d6b8ff;" *ngIf="showMessageNotActions">
            Nenhuma ação disponível para esse projeto... 
          </li>                           
          <li *ngIf="job.status !== 'concluido' && job.status !== 'fechado' && job.status !== 'fechado_pelo_freelancer' && job.status === 'fechado_pelo_cliente' && job.status !== 'cancelado' && job.status !== 'em_disputa' && job.status !== 'fechado_a_favor_do_cliente' && job.status !== 'fechado_a_favor_do_freelancer' && job.status !== 'fechado_em_divisao'">
            <svg xmlns="http://www.w3.org/2000/svg" width="20.785" height="17.356" viewBox="0 0 22.785 17.356">
              <g id="mail" transform="translate(0 -61)">
                <g id="Grupo_195" data-name="Grupo 195" transform="translate(1.145 61)">
                  <g id="Grupo_194" data-name="Grupo 194" transform="translate(0 0)">
                    <path id="Caminho_1578" data-name="Caminho 1578" d="M45.359,61H26.579a1.979,1.979,0,0,0-.858.2l10.2,10.2,2.287-2.2h0l8.005-8A1.979,1.979,0,0,0,45.359,61Z" transform="translate(-25.721 -61)" fill="#d6b8ff"/>
                  </g>
                </g>
                <g id="Grupo_197" data-name="Grupo 197" transform="translate(15.051 62.145)">
                  <g id="Grupo_196" data-name="Grupo 196">
                    <path id="Caminho_1579" data-name="Caminho 1579" d="M345.746,86.728l-7.534,7.533,7.533,7.533a1.98,1.98,0,0,0,.2-.858V87.586A1.979,1.979,0,0,0,345.746,86.728Z" transform="translate(-338.213 -86.728)" fill="#d6b8ff"/>
                  </g>
                </g>
                <g id="Grupo_199" data-name="Grupo 199" transform="translate(0 62.145)">
                  <g id="Grupo_198" data-name="Grupo 198" transform="translate(0 0)">
                    <path id="Caminho_1580" data-name="Caminho 1580" d="M.2,86.721a1.979,1.979,0,0,0-.2.858V100.93a1.98,1.98,0,0,0,.2.858l7.533-7.533Z" transform="translate(0 -86.721)" fill="#d6b8ff"/>
                  </g>
                </g>
                <g id="Grupo_201" data-name="Grupo 201" transform="translate(1.144 70.622)">
                  <g id="Grupo_200" data-name="Grupo 200" transform="translate(0 0)">
                    <path id="Caminho_1581" data-name="Caminho 1581" d="M38.677,277.211l-2.287,2.2a.667.667,0,0,1-.944,0l-2.2-2.2-7.534,7.533a1.98,1.98,0,0,0,.858.2h18.78a1.979,1.979,0,0,0,.858-.2Z" transform="translate(-25.714 -277.211)" fill="#d6b8ff"/>
                  </g>
                </g>
              </g>
            </svg>                                                                                                
            <span>Enviar Mensagem</span>
          </li>
          <li *ngIf="job.status === 'em_andamento' && deadlineLeft < 72" (click)="newDeadLineModal.show()">
            <svg xmlns="http://www.w3.org/2000/svg" width="21.822" height="21.822" viewBox="0 0 21.822 21.822">
              <path id="plus" d="M18.626,3.2A10.911,10.911,0,0,0,3.2,18.626,10.911,10.911,0,0,0,18.626,3.2ZM10.91,20.117a9.206,9.206,0,1,1,9.206-9.206,9.217,9.217,0,0,1-9.206,9.206Zm.852-10.059H15.6v1.7H11.763V15.6h-1.7V11.763H6.222v-1.7h3.836V6.222h1.7Zm0,0" transform="translate(0)" fill="#d6b8ff"/>
            </svg>
                                                                                                            
            <span>Solicitar novo prazo</span>
          </li>
          <li (click)="concludeJob()" *ngIf="job.status === 'em_andamento'">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 24 22">
              <g id="checkmark_1_" data-name="checkmark (1)" transform="translate(0 -0.004)">
                <path id="Caminho_1582" data-name="Caminho 1582" d="M14.371,14.875a3,3,0,0,1-4.242,0l-4.25-4.25a3,3,0,1,1,4.242-4.242L12.25,8.511l5.877-5.877a10.943,10.943,0,1,0,3.38,5.1Zm0,0" fill="#d6b8ff"/>
                <path id="Caminho_1583" data-name="Caminho 1583" d="M154.578,34.081a1,1,0,0,1-.707-.293l-4.25-4.25a1,1,0,0,1,1.414-1.414l3.543,3.543,10.043-10.043a1,1,0,0,1,1.414,1.414l-10.75,10.75A1,1,0,0,1,154.578,34.081Zm0,0" transform="translate(-142.328 -20.327)" fill="#d6b8ff"/>
              </g>
            </svg>                                                               
                                                                      
            <span>Concluir Projeto</span>
          </li>

          <li (click)="closeJob()" *ngIf="job.status === 'em_andamento'">
            <svg xmlns="http://www.w3.org/2000/svg" width="20.379" height="25.379" viewBox="0 0 22.379 22.379">
              <path id="disabled" d="M11.189,0A11.189,11.189,0,1,0,22.379,11.189,11.2,11.2,0,0,0,11.189,0ZM2.8,11.189A8.337,8.337,0,0,1,4.357,6.335L16.044,18.022A8.379,8.379,0,0,1,2.8,11.189Zm15.225,4.855L6.334,4.357A8.379,8.379,0,0,1,18.022,16.044Z" fill="#d6b8ff"/>
            </svg>                                                                                                                                                                   
            <span>Fechar Projeto</span>
          </li>

          <li [routerLink]="['/job/', job.id, 'rating']" *ngIf="(job.status === 'concluido' && !job.freela_rated)">
            <svg height="25" width="23" class="star rating" data-rating="1">
              <polygon points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78" fill="#d6b8ff"/>
            </svg>

            <span>Avaliar Cliente</span>
          </li>

          <li [routerLink]="['/dispute/', job.dispute.id]" *ngIf="job.status === 'em_disputa'">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path d="M15 12c0 1.654-1.346 3-3 3s-3-1.346-3-3 1.346-3 3-3 3 1.346 3 3zm9-.449s-4.252 8.449-11.985 8.449c-7.18 0-12.015-8.449-12.015-8.449s4.446-7.551 12.015-7.551c7.694 0 11.985 7.551 11.985 7.551zm-7 .449c0-2.757-2.243-5-5-5s-5 2.243-5 5 2.243 5 5 5 5-2.243 5-5z" fill="#d6b8ff"/>
            </svg>
                                                                                                            
            <span>Ver Disputa</span>
          </li>
        </ul>
    </div>
</div>


<div bsModal class="modal fade" tabindex="-1" #newDeadLineModal="bs-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title">Solicitar Novo Prazo</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="newDeadLineModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row" style="display: flex; justify-content: center;">
          O prazo atual é:  &nbsp;<b>{{job.deadline | date}}</b>
        </div>
          <div class="row">
              <div class="form-group col-md-6">
                  <label for="percentage_client">Novo Prazo</label>
                  <input
                      type="date"
                      name="new_deadline"
                      id="new_deadline"
                      class="form-control"
                      [(ngModel)]="new_deadline"
                      max="100"
                      min="0"
                  >  
              </div>
          </div>
      </div>
      <div class="modal-footer">
          <button style="background: #E1B9FF;color: white;" class="btn btn-default" (click)="newDeadLine()">SOLICITAR</button>
      </div>
    </div>
  </div>
</div>