<div class="bg row">
  <div class="content row shadow">
    <div class="featured col-sm-12 col-md-5">
      <div class="title">
        <img src="../../../../assets/img/icons/medal.png">
        <span>Obtenha o máximo do seu projeto</span>
      </div>
      <div class="body">
        <p>Que tal fazer um upgrade no seu projeto para que ele se destaque de todos os outros?</p>
        <p>Receba mais propostas e mais ofertas de qualidade superior.</p>
        <p>Projetos em destaque aparecem primeiro na lista de projetos e atraem mais ofertas de qualidade em um tempo muito menor.</p>
        <div class="strip">
          <img src="../../../../assets/img/strip-featured.png">
        </div>
        <p>10€ para posicionar seu projeto em destaque por 5 dias em primeiro na lista de projetos.</p>
        <div class="actions">
          <button class="btn btn-select" (click)="featured()">Destacar Projeto</button>
        </div>
      </div>
    </div>

    <div class="urgent col-sm-12 col-md-5 offset-md-2">
      <div class="title">
        <img src="../../../../assets/img/icons/urgent.png">
        <span>Marque seu projeto como urgente</span>
      </div>
      <div class="body">
        <p>Precisa iniciar o projeto de forma urgente na plataforma?</p>
        <p>Marcando seu projeto como urgente, automaticamente qualquer freelancer pode enviar propostas para o seu projeto.</p>
        <p>Projetos urgentes aparecem para todos os freelancers da categoria e atraem mais ofertas em um tempo muito menor.</p>
        <div class="strip">
          <img src="../../../../assets/img/strip-urgent.png">
        </div>
        <p>15€ para marcar seu projeto como urgente.</p>
        <div class="actions">
          <button class="btn btn-select" (click)="urgent()">Marcar como urgente</button>
        </div>
      </div>
    </div>

    <div class="continue">
      <span><a (click)="continue()">Continuar sem destaque</a></span>
    </div>
  </div>
</div>