<app-header menu="logged" showSearch="true"></app-header>
<section id="faq">
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Perguntas Frequentes</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="summary">
                    <ul>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" width="39" height="39" viewBox="0 0 69 69">
                                <g id="Elipse_150" data-name="Elipse 150" fill="none" stroke="#d6b8ff" stroke-width="8">
                                  <circle cx="34.5" cy="34.5" r="34.5" stroke="none"/>
                                  <circle cx="34.5" cy="34.5" r="30.5" fill="none"/>
                                </g>
                            </svg>                              
                        </li>
                        <li><a class="active">Quanto custa para usar os ingressos Enjoy?</a></li>
                        <li><a>Eu pago por um evento grátis?</a></li>
                        <li><a>Como entrar em contato com o suporte do Enjoy Tickets?</a></li>
                        <li><a>Como deletar um evento?</a></li>
                        <li><a>Eu não recebi meu pagamento?</a></li>
                        <li><a>Quando recebo o pagamento? </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div class="content">
                    <h3>How much does it cost to use EnjoyTickets?</h3>
                    <p>all the pricing information can be found here.</p>
                   
                    <h3>Do I pay for a free event?</h3>
                    <p>No, it's completely free for free events.</p>
                   
                    <h3>How to contact EnjoyTickets Support?</h3>
                    <p>if you have questions, please contact info@enjoytickets.co.uk to get in touch. We’re more than happy to help.</p>
                   
                    <h3>How to delete an event?</h3>
                    <p>If there are no completed orders, go to My Events page and click Delete on the Event Dashboard. If there are completed orders, you can refund paid orders and cancel or delete free orders to be able to delete the event.</p>
                    
                    <h3>I did not receive my payout?</h3>
                    <p>your event didn't finish yet, bank details missing, the payout was returned due to bank details issue.</p>

                    <h3>When do I get pay? </h3>
                    <p>Payouts are transferred 5 working days after the event has taken place. You need to make sure your bank details are correct in your organiser profile.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>